#password-reset-container, #get-code-options, #verify-code {
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: $textPrimary;

  text-align: center;
  font-size: 20px;

  #form-error {
    display: none;
    visibility: hidden;

    color: $red;
    margin: 0;
  }
}

#get-code-options, #verify-code {
  display: none;
  visibility: hidden;
}